<section [hidden]="windowMode != 'grid'">

    <div class="uk-flex uk-flex-right@m uk-flex-right@l uk-text-middle uk-margin">
        <a href="#" uk-icon="icon: search" uk-toggle="target: #toggle-usage"  class="uk-button uk-button-default"></a> &nbsp;
        <a (click)="getDataSatker()" uk-icon="icon: refresh" class="uk-button uk-button-default"></a> &nbsp;
        <a  uk-icon="icon: plus" uk-toggle="target: #toggle-breadcrumb"  class="uk-button uk-button-primary text-light" [hidden]="windowMode != 'grid'" (click)="windowModeView('create')" >Create &nbsp;</a>
    </div> 
    
    
    
    
    <div class="card mb-4" id="toggle-usage" >
        <div class="card-body">
            <div>
                <div  class="uk-margin-small row" >
    
                    <div class="col-md-12">
                        <label class="uk-form-label mt-2" for="form-stacked-text">Nama Satker</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" type="text" [(ngModel)]="filterData.namaSatker" placeholder="Nama Satker...">
                        </div>
                    </div>
    
    
                    <div class="col-md-6"></div>
    
                    <div class="col-md-6 uk-flex uk-flex-right@m uk-flex-right@l uk-margin">
                        <button class="uk-button uk-button-default" (click)="doReset()">Reset</button>  &nbsp;
                        <button class="uk-button uk-button-primary" uk-icon="icon: search" (click)="doSearch(filterData)">Search </button>
                    </div> 
    
                    
    
    
                </div>
    
                 
               
            </div>
        </div>
    </div>
    
    
    

    <div >
        <div class="card mt-5">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Master Satker</h4>
            <p class="card-category">New employees on 15th September, 2016</p>
          </div>


          <div class="p-5">
            <dx-data-grid 
                id="gridContainer"
                [dataSource]="ListSatker"
                [showBorders]="true"
                [allowColumnReordering]="true"
                [columnAutoWidth]="true"
                [allowColumnResizing]="true"
                >    

                <dxo-export [enabled]="true" fileName="Orders"></dxo-export>
                <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>    
                <dxo-load-panel [enabled]="true"> </dxo-load-panel>
                <dxo-selection mode="multiple" selectAllMode="page">   <!-- or "allPages" --> </dxo-selection>
                <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"> </dxo-pager>
                
                <dxi-column dataField="namaSatker" caption="Satker" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="alamat" caption="Alamat"  alignment="left" [allowSearch]="true"></dxi-column>


                <dxi-column dataField="id" caption="Action" alignment="center" [width]="100" cellTemplate="cellTemplate"></dxi-column>
                    <div *dxTemplate="let cell of 'cellTemplate'">
                        <div class="uk-flex uk-flex-center@m uk-flex-center@l uk-text-middle">
                            <a href="#modal-delete-satker" (click)="modalDelete(cell);" uk-toggle uk-icon="icon: close" ></a> &nbsp;
                            <a (click)="onEditClick(cell);" uk-icon="icon: pencil" class="text-primary"></a> &nbsp;
                        </div> 
                    </div>



            </dx-data-grid>
          </div>
          

          
        </div>
      </div>


</section >

<section [hidden]="windowMode == 'grid'">

    <form class="uk-form-horizontal uk-margin-large"  [formGroup]="form" (ngSubmit)="doSave(form.value)">
        <div class="uk-flex uk-flex-right@m uk-flex-right@l uk-text-middle uk-margin">
            <a class="uk-button uk-button-default" (click)="windowModeView('grid')">Back</a> &nbsp;
            <input type="submit" [disabled]="!form.valid" value="Save" *ngIf="windowMode=='create'"  class="uk-button uk-button-primary">
            <input type="submit" [disabled]="!form.valid" value="Update" *ngIf="windowMode=='edit'"  class="uk-button uk-button-primary">
        </div>  

        

        <div class="card">
            <div class="card-body m-5"> 
                

                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Nama Satker</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" type="text" placeholder="Masukan Nama Satker..." formControlName="namaSatker" [(ngModel)]="formSatker.namaSatker" [ngClass]="{ 'uk-form-danger': submitted && f.namaSatker.errors }">
                                <div *ngIf="submitted && f.namaSatker.errors" class="uk-text-danger uk-text-italic">
                                  <div *ngIf="f.namaSatker.errors.required">Nama satker wajib diisi</div>
                                </div>
                            </div>
                        </div>
                        
        
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Alamat</label>
                            <div class="uk-form-controls">
                                <textarea class="uk-textarea" type="text" placeholder="Masukan Alamat..."  rows="5" formControlName="alamat"  [(ngModel)]="formSatker.alamat" [ngClass]="{ 'uk-form-danger': submitted && f.alamat.errors }"></textarea>
                                <div *ngIf="submitted && f.alamat.errors" class="uk-text-danger uk-text-italic">
                                    <div *ngIf="f.alamat.errors.required">Alamat wajib diisi</div>
                                </div>
                            </div>
                        </div>
               
            </div>
        </div>
    </form>



</section>



<!-- modal-delete-satker -->
<div id="modal-delete-satker" class="uk-flex-top" uk-modal>    
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
        <h2 class="uk-modal-title">Hapus data?</h2>
        <p>Apakah anda yakin ingin menghapus data  <span style="font-weight: bold;">{{deleteDataSatker}}</span> </p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button" id="btnHapus">Batal</button> &nbsp;
            <button class="uk-button uk-button-primary" (click)="doDelete()" type="button">Hapus</button>
        </p>
    </div>
</div>
<!-- modal-delete-satker -->
