



<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="fa fa-tags"></i>
          </div>
          <p class="card-category"> Finding Document</p>
          <h3 class="card-title">49/50
            <!-- <small>GB</small> -->
          </h3>
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="material-icons">Open</i>
            </div>
        </div>
      </div>
    </div>



    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="fa fa-ticket"></i>
          </div>
          <p class="card-category">Approval Document</p>
          <h3 class="card-title">34</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">On-Progres</i>
          </div>
        </div>
      </div>
    </div>
   

    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="fa fa-twitter"></i>
          </div>
          <p class="card-category">Summary</p>
          <h3 class="card-title">+245</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">Close</i>          
         </div>
        </div>
      </div>
    </div>



  </div>
