.ui-datepicker-calendar {
    display:none;
}

::ng-deep #gridContainer {
    height: 440px;
}
::ng-deep #gridContainer .dx-datagrid-content tr.dx-data-row {
    cursor: pointer;
}
::ng-deep .employeeInfo .employeePhoto{
    height: 140px;
    float: left;
    padding: 20px 20px 20px 0;
}
::ng-deep .employeeInfo .employeeNotes {
    padding-top: 20px;
    text-align: justify;
    white-space: normal;
}


::ng-deep .master-detail-caption {
    padding: 0 0 5px 10px;
    font-size: 14px;
    font-weight: bold;
}



#customFile .custom-file-input:lang(en)::after {
    content: "Select file...";
  }
  
  #customFile .custom-file-input:lang(en)::before {
    content: "Click me";
  }
  
  /*when a value is selected, this class removes the content */
  .custom-file-input.selected:lang(en)::after {
    content: "" !important;
  }
  
  .custom-file {
    overflow: hidden;
  }
  .custom-file-input {
    white-space: nowrap;
  }