<span uk-spinner="ratio: 1.5"  class="uk-flex-center" style="position: fixed;" *ngIf="isLoading" ></span>


<div [hidden]="windowMode != 'grid'">
    <div class="uk-flex uk-flex-right@m uk-flex-right@l uk-text-middle uk-margin">
        <a href="#" uk-icon="icon: search" uk-toggle="target: #toggle-usage"  class="uk-button uk-button-default"></a> &nbsp;
        <a (click)="getDataTindakLanjut()" uk-icon="icon: refresh" class="uk-button uk-button-default"></a> &nbsp;
        <!-- <a  uk-icon="icon: plus" uk-toggle="target: #toggle-breadcrumb"  class="uk-button uk-button-primary text-light" [hidden]="windowMode != 'grid'" (click)="windowModeView('create')" >BUAT &nbsp;</a> -->
    </div> 
    
    
    
    
    <div class="card mb-4" id="toggle-usage">
        <div class="card-body">
            <div>
                <div  class="uk-margin-small row" >
    
                    <div class="col-md-6">
                        <label class="uk-form-label mt-2" for="form-stacked-text">KPA</label>
                        <div class="uk-form-controls">
                            <input class="uk-input " id="form-stacked-text" type="text"  [(ngModel)]="filterData.namaKpa" placeholder="Some text...">
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <label class="uk-form-label mt-2" for="form-stacked-text">Cabang</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" [(ngModel)]="filterData.idCabang">
                                <option *ngFor="let cabang of ListCabang" [ngValue]="cabang.id">{{cabang.cabang}}</option>
                                <!-- <option [ngValue]="1">Dummy Cabang 100</option>
                                <option [ngValue]="2">Dummy Cabang 200</option>
                                <option [ngValue]="3">Dummy Cabang 300</option> -->
                            </select>
                        </div>
                    </div>
                  
    
                    <div class="col-md-6"></div>
    
                    <div class="col-md-6 uk-flex uk-flex-right@m uk-flex-right@l uk-margin">
                        <button class="uk-button uk-button-default" (click)="doReset()">Reset</button>  &nbsp;
                        <button class="uk-button uk-button-primary" uk-icon="icon: search" (click)="doSearch(filterData)">CARI </button>
                    </div> 
    
                    
    
    
                </div>
    
                 
               
            </div>
        </div>
    </div>
    
    


    <div class="card mt-5">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Dokumen Tindak Lanjut v2</h4>
          <p class="card-category">New employees on 15th September, 2016</p>
        </div>


        <div class="p-5">
          <dx-data-grid 
              id="gridContainer"
              [dataSource]="ListTindakLanjut"
              [showBorders]="true"
              [allowColumnReordering]="true"
              [columnAutoWidth]="true"
              [allowColumnResizing]="true"
              >    

              <dxo-export [enabled]="true" fileName="Orders"></dxo-export>
              <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>    
              <dxo-load-panel [enabled]="true"> </dxo-load-panel>
              <dxo-selection mode="multiple" selectAllMode="page">   <!-- or "allPages" --> </dxo-selection>
              <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
              <dxo-search-panel [visible]="true"></dxo-search-panel>
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50]" [showInfo]="true"> </dxo-pager>
              
              <dxi-column dataField="noLHA" caption="No. Dokumen Temuan" [allowSearch]="true"></dxi-column>

              <dxi-column dataField="namaSatker" caption="Satker" alignment="left"></dxi-column>
              <dxi-column dataField="namaPpk" caption="PPK" alignment="left"></dxi-column>


              <dxi-column dataField="keterangan" caption="Keterangan" [allowSearch]="true"></dxi-column>
              <dxi-column dataField="tglTerimaDokumenTemuan" caption="Tgl Dokumen Masuk" [allowSearch]="true"></dxi-column>
              
              <dxi-column dataField="noUraianTemuan" caption="No. Uraian Temuan" [allowSearch]="true"></dxi-column>
              <dxi-column dataField="nomorDraft" alignment="left"  caption="No. Draft" [allowSearch]="true"></dxi-column>
              <dxi-column dataField="statusTindakLanjut" caption="Status" [allowSearch]="true"></dxi-column>
              <dxi-column dataField="fileDokumen" caption="Dokumen" [allowSearch]="true" cellTemplate="downloadTemplate"></dxi-column>
              <dxi-column dataField="id" caption="Action" alignment="center" [width]="100" cellTemplate="actionTemplate"></dxi-column>
                <div *dxTemplate="let cell of 'actionTemplate'">
                    <div class="uk-flex uk-flex-center@m uk-flex-center@l uk-text-middle">
                        <tr>
                          <td width="30">
                            <a href="#modal-delete-tindaklanjut" *ngIf="cell.data.keterangan == 'Menunggu Respon'" (click)="modalDelete(cell);" uk-toggle uk-icon="icon: close" ></a>
                          </td>
                          <td width="30">
                            <a (click)="onEditGridClick(cell);" *ngIf="cell.data.statusTindakLanjut != 'Selesai'" uk-icon="icon: pencil"></a>   
                          </td>
                        </tr>
                    </div> 
                </div>

                <div *dxTemplate="let cell of 'downloadTemplate'">
                  <div class="uk-flex uk-flex-center@m uk-flex-center@l uk-text-middle">
                      <a (click)="onDownloadClick(cell.data);" class="uk-link-text uk-text-primary">Download</a> &nbsp;                            
                  </div> 
                </div>



          </dx-data-grid>
        </div>
        

        
    </div>


</div >

<div [hidden]="windowMode == 'grid'">

  <div class="uk-flex uk-flex-right@m uk-flex-right@l uk-text-middle uk-margin">
    &nbsp; <a class="uk-button uk-button-default" (click)="windowModeView('grid')">KEMBALI</a> 
    &nbsp; <input type="submit" value="SIMPAN" *ngIf="windowMode=='edit' && !isUpdateMenungguRespon" (click)="doSave()" class="uk-button uk-button-primary">
    &nbsp; <input type="submit" value="PERBARUI" *ngIf="windowMode=='edit' && isUpdateMenungguRespon" (click)="doSave()" class="uk-button uk-button-primary">
  </div>  

  

  <div class="card">
    <div class="card-body m-5" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500"> 
      <div class="kertasa4">
        <div class="">
            <p class="uk-text-center previewHeader mb-5"> {{modelDokumenTemuan.header}} </p>

            <table class="previewSubheader">
                <tr>
                  <td style="width:150px">Keadaan s.d. Bulan</td>
                  <td style="width:15px">:</td> 
                  <td> {{modelDokumenTemuan.displayKeadaanSdBulan}}</td>
                </tr>
    
                <tr>
                  <td>Nama Kegiatan</td>
                  <td>:</td> 
                  <td>{{modelDokumenTemuan.namaKegiatan}}</td>
                </tr>
    
                <tr>
                  <td>Nama Instansi</td>
                  <td>:</td> 
                  <td>{{modelDokumenTemuan.namaInstansi}}</td>
                </tr>
    
                <tr>
                  <td>Unit Kerja Eselon I</td>
                  <td>:</td> 
                  <td>{{modelDokumenTemuan.unitKerjaEselon1}}</td>
                </tr>
    
                <tr>
                  <td>No. & Tanggal LHA</td>
                  <td>:</td> 
                  <td> {{modelDokumenTemuan.noLHA}} tanggal {{modelDokumenTemuan.displayTglTerimaDokumenTemuan}}</td>
                </tr>
            </table>
            
            <table class="mt-3 tableDocument" border="1">
              <!-- <tr class="uk-text-center" id="tableHeader">
                <td class="uk-text-top" style="width:50px ; padding-right: 10px;padding-left: 10px;">No.</td>
                <td class="uk-text-top" style="width:300px; padding-right: 10px;padding-left: 10px;">Uraian Temuan</td>
                <td class="uk-text-top" style="width:90px; padding-right: 10px;padding-left: 10px;">Kode</td>
                <td class="uk-text-top" style="width:250px; padding-right: 10px;padding-left: 10px;">Rekomendasi</td>
                <td class="uk-text-top" style="width:70px; padding-right: 10px;padding-left: 10px;">Kode</td>
                <td class="uk-text-top" style="width:400px; padding-right: 20px;padding-left: 20px;">Ringkasan Tindak Lanjut</td>
                <td class="uk-text-top" style="width:80px; padding-right: 20px;padding-left: 20px;" >Status Tindak Lanjut</td>
                <td class="uk-text-top" style="width:230px; padding-right: 10px;padding-left: 10px;">Tindak lanjut</td>
                <td class="uk-text-top" style="width:250px; padding-right: 10px;padding-left: 10px; background-color: yellow;" *ngIf="modelIsiDokumen.responTindakLanjut != null">Respon Tindak lanjut</td>
                <td class="uk-text-top" style="width:80px;">Aksi</td>
              </tr> -->

              <tr class="uk-text-center" id="tableHeader" border="1">
                <td class="uk-text-top" style="width:50px ; padding-right: 10px;padding-left: 10px; border-left: 0.1px solid black; border-top: 0.1px solid black;">No.</td>
                <td class="uk-text-top" style="width:300px; padding-right: 10px;padding-left: 10px;border-left: 0.1px solid black;">Uraian Temuan</td>
                <td class="uk-text-top" style="width:90px; padding-right: 10px;padding-left: 10px;border-left: 0.1px solid black;">Kode</td>
                <td class="uk-text-top" style="width:250px; padding-right: 10px;padding-left: 10px;border-left: 0.1px solid black;">Rekomendasi</td>
                <td class="uk-text-top" style="width:70px; padding-right: 10px;padding-left: 10px;border-left: 0.1px solid black;">Kode</td>
                <td class="uk-text-top" style="width:400px; padding-right: 20px;padding-left: 20px;border-left: 0.1px solid black;">Ringkasan Tindak Lanjut</td>
                <td class="uk-text-top" style="width:80px; padding-right: 20px;padding-left: 20px;border-left: 0.1px solid black;" >Status Tindak Lanjut</td>
                <td class="uk-text-top" style="width:230px; padding-right: 10px;padding-left: 10px;border-left: 0.1px solid black;" [ngClass]="(isResponseTL === true)?'isResponseTL' : 'notResponseTL'">Tindak lanjut</td>
                <td class="uk-text-top" style="width:250px; padding-right: 10px;padding-left: 10px;border-left: 0.1px solid black;" [ngClass]="(isResponseTL === true)?'isResponseTL' : 'notResponseTL'" *ngIf="isResponseTL">Respon Tindak lanjut</td>
                <td class="uk-text-top pr-2 pl-2" style="width:80px;border-left: 0.1px solid black;">Aksi</td>
              </tr>

              
              
              


              <!-- ================================ SHOW INPUTED AREA ========================= -->

              <tbody *ngFor="let data of batchDokumen">

                <tr>
                  <td  class="uk-text-center uk-text-top">{{data.nomorHeader}}</td>
                  <td  class="uk-text-top pr-2 pl-2" colspan="9">{{data.titleHeader}}</td>
                </tr>


                <tr >
              
                  <td class="uk-text-center uk-text-top">
                   <span *ngIf="data.noUraianTemuan != undefined"> {{data.noUraianTemuan}}</span>
                  </td>
                  
                  <td class="pr-2 pl-2 uk-text-top escapeHTML" >
                    <div *ngIf="data.uraianTemuan != undefined" [innerHTML]="data.uraianTemuan | keepHtml"></div>
                  </td> 
                  
                  <td class="uk-text-center uk-text-top" >
                    {{data.kodeRekomendasi}}
                  </td>
                  
                  <td class="pr-2 pl-2 uk-text-top escapeHTML"> 
                      <div [innerHTML]="data.rekomendasi | keepHtml"></div>
                  </td>
                  
                  <td class="uk-text-center uk-text-top">
                      {{data.kodeRingkasanTindakLanjut}}
                  </td>
                  
                  <td class="pr-2 pl-2 uk-text-top escapeHTML">
                      <div [innerHTML]="data.ringkasanTindakLanjut | keepHtml"></div>
                  </td>
                  
                  <td class="uk-text-center uk-text-top pr-2 pl-2" style="word-break: normal !important;">
                      {{data.statusTindakLanjut}}
                  </td>
                  
                  <td class="pr-2 pl-2 uk-text-top escapeHTML"  [ngClass]="(isResponseTL === true)?'isResponseTL' : 'notResponseTL'">
                      <div [innerHTML]="data.tindakLanjut | keepHtml"></div>
                  </td>


                  <td class="pr-2 pl-2 uk-text-top escapeHTML isResponseTL" style="background-color: yellow;" *ngIf="data.responTindakLanjut != null">
                    <div [innerHTML]="data.responTindakLanjut | keepHtml"></div>
                  </td>
                  

                  <td class="uk-text-center uk-text-top">
                    <!-- <a uk-icon="icon: trash" class="mt-2 mb-2"  uk-tooltip="Hapus Data" (click)="onDeleteTemmuanClick(data)" ></a> <br> -->
                    <a uk-icon="icon: pencil"class="mt-2 mb-2"  uk-tooltip="Edit Data" uk-toggle="target: #modal-tambah-temuan" (click)="onEditTemuanClick(data)"></a> 
                  </td>

                </tr>
              </tbody>

              
              <!-- ================================ SHOW INPUTED AREA ========================= -->

  
             
            </table>  

            <!-- =======================FOOTER======================== -->
            <table style="width:100% " class="mt-3">
                <tr>
                  <th style="width:70%"></th>
                  <td class="escapeHTML">
                      <div [innerHTML]="modelDokumenTemuan.footer | keepHtml"></div>
                  </td>
                </tr>
            </table>
            <!-- =======================FOOTER======================== -->
              <br>
    
    
        </div>
      </div>
    </div>
  </div>




</div>


<!-- modal-assign-dokumen-temuan -->
<div id="modalInputSatker" uk-modal="bg-close:false; esc-close:false">
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <h2 class="uk-modal-title">Assign Dokumen Temuan</h2>

        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Satker</label>
            <div class="uk-form-controls">
                <select class="uk-select" [(ngModel)]="modelIsiDokumen.satkerId" (change)="onSatkerChange(modelIsiDokumen.satkerId)">
                    <option *ngFor="let satker of ListSatker" [ngValue]="satker.id">{{satker.namaSatker}}</option>
                </select>
            </div>
        </div>


        <div class="uk-margin">
          <label class="uk-form-label" for="form-horizontal-select">PPK</label>
          <div class="uk-form-controls">
            <select class="uk-select" [(ngModel)]="modelIsiDokumen.ppkId"  >
              <option *ngFor="let ppk of ListPpk" [ngValue]="ppk.id">{{ppk.namaPpk}}</option>
            </select>
          </div>
        </div>





        <p class="uk-text-right uk-margin-medium-top" >
            <button class="uk-button uk-button-default uk-modal-close" type="button">BATAL</button> &nbsp;
			<button class="uk-button uk-button-primary" 
					uk-toggle="target: #modal-tambah-temuan"
					(click)="addTemuan(modelIsiDokumen.satkerId,modelIsiDokumen.ppkId)" 
					[disabled]="(modelIsiDokumen.satkerId=='' || modelIsiDokumen.satkerId == null)||(modelIsiDokumen.ppkId=='' || modelIsiDokumen.ppkId == null)" 
					type="button">LANJUT
			</button>
        </p>

        
    </div>
</div>
<!-- modal-assign-dokumen-temuan -->




<!-- modal-delete-kpa -->
<div id="modal-delete-kpa" class="uk-flex-top" uk-modal>    
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
        <h2 class="uk-modal-title">Hapus data?</h2>
        <p>Apakah anda yakin ingin menghpus data  <span style="font-weight: bold;">{{deleteDataKpa}}</span> </p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button" id="btnHapus">Batal</button> &nbsp;
            <button class="uk-button uk-button-primary" (click)="doDelete()" type="button">Hapus</button>
        </p>
    </div>
</div>
<!-- modal-delete-kpa -->

<!-- preview Dokumen -->
<div id="previewDokumen" class="uk-modal-container uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body" style="width: 100%;">
        <div class="kertasa4-forPrint" id="kertasa4-forPrint">
            <div class="">
                <p class="uk-text-center previewHeader-forPrint mb-3"> {{modelDokumenTemuan.header}} </p>

                <table class="previewSubheader-forPrint">
                    <tr>
                      <td style="width:150px">Keadaan s.d. Bulan</td>
                      <td style="width:15px">:</td> 
                      <td>Juli  2017</td>
                    </tr>
                    
                    <tr>
                      <td>Nama Kegiatan</td>
                      <td>:</td> 
                      <td>Audit Pelaksanaan Tusi Tahun 2015</td>
                    </tr>
                    
                    <tr>
                      <td>Nama Instansi</td>
                      <td>:</td> 
                      <td>Ditjen Penegakan Lingkungan Hidup dan Kehutanan (PHLHK)</td>
                    </tr>
                    
                    <tr>
                      <td>Unit Kerja Eselon I</td>
                      <td>:</td> 
                      <td>Ditjen PHLHK</td>
                    </tr>
                    
                    <tr>
                      <td>No. & Tanggal LHA</td>
                      <td>:</td> 
                      <td>LHA. 26/Itjen-Ins.3/Rhs/2016 tanggal 24 Februari 2016</td>
                    </tr>
                </table>


                <table class="mt-3 tableDocument" >
                    <tr class="uk-text-center">
                      <td style="width:80px">No</td>
                      <td style="width:300px">Uraian Temuan</td>
                      <td style="width:100px">Kode</td>
                      <!-- <td style="width:250px; padding-right: 10px;padding-left: 10px;" colspan="2">Rekomendasi</td> -->
                      <td style="width:250px; padding-right: 10px;padding-left: 10px;">Rekomendasi</td>
                      <td style="width:80px">Kode</td>
                      <td style="width:350px">Ringkasan Tindak Lanjut</td>
                      <td style="width:90px">Status Tindak Lanjut</td>
                      <td style="width:150px">Tindak lanjut</td>
                    </tr>
                    
                    <tr>
                      <td class="uk-text-center">A.1.</td>
                      <td colspan="8" class="pr-2 pl-2">Kelemahan Tugas dan Fungsi</td>
                    </tr>
                    
                    <tr>
                      <td class="uk-text-center">A.2.</td>
                      <td colspan="8" class="pr-2 pl-2">Kelemahan Aspek Pendukung</td>
                    </tr>
    
                    
                    <!-- ================================ SHOW INPUTED AREA ========================= -->
                    <tr *ngFor="let data of batchDokumen">
                                  
                        <td class="uk-text-center uk-text-top">
                          <span *ngIf="data.noUraianTemuan != undefined"> {{data.noUraianTemuan}} </span>
                        </td>
                        
                        
                        <td class="pr-2 pl-2 uk-text-top escapeHTML">
                          <div *ngIf="data.uraianTemuan != undefined" [innerHTML]="data.uraianTemuan | keepHtml"></div>
                        </td> 
                        
                        
                        
                        <td class="uk-text-center uk-text-top" >
                          {{data.kodeRekomendasi}}

                        </td>
<!--                         
                        <td style="width:10px" class=" uk-text-top uk-text-center" colspan="1" style="border-right:1px solid transparent">
                          {{data.subNomorRekomendasi}}
                        </td> -->
                        
                        
                        <td class="pr-2 pl-2 uk-text-top escapeHTML"> 
                          <!-- <div style="width: 150px;"> -->
                            <div [innerHTML]="data.rekomendasi | keepHtml"></div>
                          <!-- </div> -->
                          
                        </td>
                        
                        <td class="uk-text-center uk-text-top escapeHTML">
                           {{data.kodeRingkasanTindakLanjut}}
                        </td>
                        
                        <td class=" pr-2 pl-2 uk-text-top escapeHTML">
                           <div [innerHTML]="data.ringkasanTindakLanjut | keepHtml"></div>
                        </td>
                        
                        <td class="uk-text-center uk-text-top" >
                           {{data.statusTindakLanjut}}
                        </td>
                        
                        
                        <td class=" pr-2 pl-2 uk-text-top escapeHTML">
                           <div [innerHTML]="data.tindakLanjut | keepHtml"></div>
                           <span *ngIf="isResponseTL">
                            <hr>
                            <a (click)="downloadDokumenTindakLanjut(data.dokumenTindakLanjut)" class="text-primary"><u>Download Dokumen Tindak Lanjut</u></a>
                          </span>
                        </td>
                        
          
          
                      </tr>
                      <!-- ================================ SHOW INPUTED AREA ========================= -->

    
                </table>  

                <!-- =======================FOOTER======================== -->
                <table style="width:100% " class="mt-3">
                    <tr>
                      <th style="width:70%"></th>
                      <td class="escapeHTML">
                          <div [innerHTML]="modelDokumenTemuan.footer | keepHtml"></div>
                      </td>
                    </tr>
                </table>
                <!-- =======================FOOTER======================== -->
                <br>             
       
            </div>
        </div>

        <button (click)="createPdf()" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">Create PDF</button>

        <a class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom" (click)="downloadDokumen()" style="color:white">Download Dokumen</a>



    </div>
</div>
<!-- preview Dokumen -->

<!-- modal-tambah-temuan -->
<div id="modal-tambah-temuan" class="uk-modal-container uk-flex-top" uk-modal="bg-close:false; esc-close:false">
	<div class="uk-modal-dialog uk-modal-body">
		<div class="kertasa4" id="kertasa4">

			<p class="uk-text-center previewHeader mb-5 mt-5"> {{modelDokumenTemuan.header}} </p>
                    
			<table class="previewSubheader mb-4">
				<tr>
					<td style="width:150px">Keadaan s.d. Bulan</td>
					<td style="width:15px">:</td> 
					<td> {{modelDokumenTemuan.displayKeadaanSdBulan}}</td>
				</tr>
	
				<tr>
					<td>Nama Kegiatan</td>
					<td>:</td> 
					<td>{{modelDokumenTemuan.namaKegiatan}}</td>
				</tr>
	
				<tr>
					<td>Nama Instansi</td>
					<td>:</td> 
					<td>{{modelDokumenTemuan.namaInstansi}}</td>
				</tr>
	
				<tr>
					<td>Unit Kerja Eselon I</td>
					<td>:</td> 
					<td>{{modelDokumenTemuan.unitKerjaEselon1}}</td>
				</tr>
	
				<tr>
					<td>No. & Tanggal LHA</td>
					<td>:</td> 
					<td> {{modelDokumenTemuan.noLHA}} tanggal {{modelDokumenTemuan.displayTglLHA}}</td>
				</tr>
			</table>

      <!-- ================================== FORM AREA ================================== -->
      <div>
        <h2 class="uk-modal-title"  *ngIf="isOpenEachFormTemuan" >{{lightInputDokumenTitle}}</h2>


        <p class="uk-text-right">
          <button class="uk-button uk-button-default"  *ngIf="isOpenEachFormTemuan" (click)="onCancelFormIsiDokumen($event.target.value)" id="cancelPopUpForm" value="jancok" type="button">BATAL</button> &nbsp;
          <button class="uk-button uk-button-primary"  *ngIf="isOpenEachFormTemuan" (click)="simpanForm()" type="button">SIMPAN</button>
        </p>

        <div class="card"  [hidden]="!is_titleHeader">
          <div class="card-body">
              <div class="uk-margin">
                  <label class="uk-form-label" for="form-horizontal-select">{{lightInputDokumenTitle}}</label>
                  <input class="uk-input uk-margin"  type="text" [(ngModel)]="modelIsiDokumen.titleHeader" placeholder="masukan {{lightInputDokumenTitle}} | Contoh : 1" >  
              </div>
          </div>
        </div>

        <div class="card"  [hidden]="!is_nomorHeader">
          <div class="card-body">
              <div class="uk-margin">
                  <label class="uk-form-label" for="form-horizontal-select">{{lightInputDokumenTitle}}</label>
                  <input class="uk-input uk-margin"  type="text" [(ngModel)]="modelIsiDokumen.nomorHeader" placeholder="masukan {{lightInputDokumenTitle}} | Contoh : And im Sorry to be the one day" >  
              </div>
          </div>
        </div>


        <div class="card"  [hidden]="!is_noUraianTemuan">
          <div class="card-body">
              <div class="uk-margin">
                  <label class="uk-form-label" for="form-horizontal-select">{{lightInputDokumenTitle}}</label>
                  <input class="uk-input uk-margin"  type="text" [(ngModel)]="modelIsiDokumen.noUraianTemuan" placeholder="masukan {{lightInputDokumenTitle}} | Contoh : 1" >  
              </div>
          </div>
        </div>

        <div class="card" [hidden]="!is_kodeRekomendasi">
          <div class="card-body">
              <div class="uk-margin">
                  <label class="uk-form-label" for="form-horizontal-select">{{lightInputDokumenTitle}}</label>
                  <input class="uk-input uk-margin"  type="text"  [(ngModel)]="modelIsiDokumen.kodeRekomendasi" placeholder="masukan {{lightInputDokumenTitle}} | Contoh : 3.03.07" >  
              </div>
          </div>
        </div>
      
        <div class="card" [hidden]="!is_subNomorRekomendasi">
          <div class="card-body">
              <div class="uk-margin">
                  <label class="uk-form-label" for="form-horizontal-select">{{lightInputDokumenTitle}}</label>
                  <input class="uk-input uk-margin"  type="text" [hidden]="!is_subNomorRekomendasi" [(ngModel)]="modelIsiDokumen.subNomorRekomendasi" placeholder="masukan {{lightInputDokumenTitle}} | Contoh : B." >  
              </div>
          </div>
        </div>

        <div class="card" [hidden]="!is_kodeRingkasanTindakLanjut">
          <div class="card-body">
              <div class="uk-margin">
                  <label class="uk-form-label" for="form-horizontal-select">{{lightInputDokumenTitle}}</label>
                  <input class="uk-input uk-margin"  type="text" [hidden]="!is_kodeRingkasanTindakLanjut" [(ngModel)]="modelIsiDokumen.kodeRingkasanTindakLanjut" placeholder="masukan {{lightInputDokumenTitle}} | Contoh : 06" >  
              </div>
          </div>
        </div>

        <div class="card" [hidden]="!is_statusTindakLanjut">
          <div class="card-body">
            <div class="uk-margin" [hidden]="!is_statusTindakLanjut">
              <label class="uk-form-label" for="form-horizontal-select">{{lightInputDokumenTitle}}</label> <br>
              <div class="uk-form-controls">
                <select class="uk-select" [(ngModel)]="modelIsiDokumen.statusTindakLanjut">
                  <option *ngIf="!isResponseTL" value="Tersedia">Buka</option>
                  <option value="Dalam Proses">Dalam Proses</option>
                  <option value="Selesai">Selesai</option>
                </select>
      
              </div>
            </div>        
          </div>
        </div>


        <div class="card" [hidden]="!is_uraianTemuan">
          <div class="card-body">
            <dx-html-editor height="550px" class="uk-margin"  [(ngModel)]="modelIsiDokumen.uraianTemuan" [hidden]="!is_uraianTemuan">
                <dxo-toolbar [multiline]="isMultiline">
                <dxi-item formatName="undo"></dxi-item>
                <dxi-item formatName="redo"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
                <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="bold"></dxi-item>
                <dxi-item formatName="italic"></dxi-item>
                <dxi-item formatName="strike"></dxi-item>
                <dxi-item formatName="underline"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="alignLeft"></dxi-item>
                <dxi-item formatName="alignCenter"></dxi-item>
                <dxi-item formatName="alignRight"></dxi-item>
                <dxi-item formatName="alignJustify"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="orderedList"></dxi-item>
                <dxi-item formatName="bulletList"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="color"></dxi-item>
                <dxi-item formatName="background"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="link"></dxi-item>
                <dxi-item formatName="image"></dxi-item>
                <dxi-item formatName="separator"></dxi-item>
                <dxi-item formatName="clear"></dxi-item>
                <dxi-item formatName="codeBlock"></dxi-item>
                <dxi-item formatName="blockquote"></dxi-item>
                <dxi-item widget="dxButton" [options]="toolbarButtonOptions"></dxi-item>
      
              </dxo-toolbar>
              <dxo-media-resizing
                [enabled]=true>
              </dxo-media-resizing>
            
            </dx-html-editor>
          </div>
        </div>

        <div class="card" [hidden]="!is_rekomendasi">
          <div class="card-body">
            <dx-html-editor height="550px" class="uk-margin"  id="html-editor" [(ngModel)]="modelIsiDokumen.rekomendasi" [hidden]="!is_rekomendasi">
              <dxo-toolbar [multiline]="isMultiline">
              <dxi-item formatName="undo"></dxi-item>
              <dxi-item formatName="redo"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
              <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="bold"></dxi-item>
              <dxi-item formatName="italic"></dxi-item>
              <dxi-item formatName="strike"></dxi-item>
              <dxi-item formatName="underline"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="alignLeft"></dxi-item>
              <dxi-item formatName="alignCenter"></dxi-item>
              <dxi-item formatName="alignRight"></dxi-item>
              <dxi-item formatName="alignJustify"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="orderedList"></dxi-item>
              <dxi-item formatName="bulletList"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="color"></dxi-item>
              <dxi-item formatName="background"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="link"></dxi-item>
              <dxi-item formatName="image"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="clear"></dxi-item>
              <dxi-item formatName="codeBlock"></dxi-item>
              <dxi-item formatName="blockquote"></dxi-item>
              <dxi-item widget="dxButton" [options]="toolbarButtonOptions"></dxi-item>
      
            </dxo-toolbar>
            <dxo-media-resizing
              [enabled]=true>
            </dxo-media-resizing>
            
            </dx-html-editor>
          </div>
        </div>

        <div class="card" [hidden]="!is_tindakLanjut">
          <div class="card-body">
            <dx-html-editor height="550px" class="uk-margin"  [(ngModel)]="modelIsiDokumen.tindakLanjut" [hidden]="!is_tindakLanjut">
              <dxo-toolbar [multiline]="isMultiline">
              <dxi-item formatName="undo"></dxi-item>
              <dxi-item formatName="redo"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
              <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="bold"></dxi-item>
              <dxi-item formatName="italic"></dxi-item>
              <dxi-item formatName="strike"></dxi-item>
              <dxi-item formatName="underline"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="alignLeft"></dxi-item>
              <dxi-item formatName="alignCenter"></dxi-item>
              <dxi-item formatName="alignRight"></dxi-item>
              <dxi-item formatName="alignJustify"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="orderedList"></dxi-item>
              <dxi-item formatName="bulletList"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="color"></dxi-item>
              <dxi-item formatName="background"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="link"></dxi-item>
              <dxi-item formatName="image"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="clear"></dxi-item>
              <dxi-item formatName="codeBlock"></dxi-item>
              <dxi-item formatName="blockquote"></dxi-item>
              <dxi-item widget="dxButton" [options]="toolbarButtonOptions"></dxi-item>
      
              </dxo-toolbar>
              <dxo-media-resizing
                [enabled]=true>
              </dxo-media-resizing>
              
            </dx-html-editor>


            <div class="uk-margin m-3" >
              <label class="uk-form-label" for="form-stacked-text">Upload Dokumen Tindak Lanjut</label>
              <div class="uk-form-controls mt-2">
                  <input class="uk-input" type="File" (change)="handleFileInput($event.target.files)" placeholder="Masukan Username...">
              </div>
            </div>

          </div>
        </div>

        <div class="card" [hidden]="!is_ringkasanTindakLanjut">
          <div class="card-body">
            <dx-html-editor height="550px" class="uk-margin"  [(ngModel)]="modelIsiDokumen.ringkasanTindakLanjut" [hidden]="!is_ringkasanTindakLanjut">
              <dxo-toolbar [multiline]="isMultiline">
              <dxi-item formatName="undo"></dxi-item>
              <dxi-item formatName="redo"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="size" [formatValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"></dxi-item>
              <dxi-item formatName="font" [formatValues]="['Arial', 'Courier New', 'Georgia', 'Impact', 'Lucida Console', 'Tahoma', 'Times New Roman', 'Verdana']"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="bold"></dxi-item>
              <dxi-item formatName="italic"></dxi-item>
              <dxi-item formatName="strike"></dxi-item>
              <dxi-item formatName="underline"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="alignLeft"></dxi-item>
              <dxi-item formatName="alignCenter"></dxi-item>
              <dxi-item formatName="alignRight"></dxi-item>
              <dxi-item formatName="alignJustify"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="orderedList"></dxi-item>
              <dxi-item formatName="bulletList"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="color"></dxi-item>
              <dxi-item formatName="background"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="link"></dxi-item>
              <dxi-item formatName="image"></dxi-item>
              <dxi-item formatName="separator"></dxi-item>
              <dxi-item formatName="clear"></dxi-item>
              <dxi-item formatName="codeBlock"></dxi-item>
              <dxi-item formatName="blockquote"></dxi-item>
              <dxi-item widget="dxButton" [options]="toolbarButtonOptions"></dxi-item>
      
              </dxo-toolbar>
              <dxo-media-resizing
                [enabled]=true>
              </dxo-media-resizing>
              
            </dx-html-editor>
          </div>

          
        </div>



        <dx-popup [showTitle]="true" title="Markup" [(visible)]="popupVisible">
          <div *ngIf="is_uraianTemuan">{{modelIsiDokumen.uraianTemuan}}</div>
          <div *ngIf="is_rekomendasi">{{modelIsiDokumen.rekomendasi}}</div>
          <div *ngIf="is_ringkasanTindakLanjut">{{modelIsiDokumen.ringkasanTindakLanjut}}</div>
          <div *ngIf="is_tindakLanjut">{{modelIsiDokumen.tindakLanjut}}</div>
        </dx-popup>
        


      </div>
			<!-- ================================== FORM AREA ================================== -->
							

			<table class="mt-3 tableDocument" border="1">
				<tr class="uk-text-center" id="tableHeader">
					<td class="uk-text-top" style="width:50px ; padding-right: 10px;padding-left: 10px;">No.</td>
					<td class="uk-text-top" style="width:300px; padding-right: 10px;padding-left: 10px;">Uraian Temuan</td>
					<td class="uk-text-top" style="width:90px; padding-right: 10px;padding-left: 10px;">Kode</td>
					<td class="uk-text-top" style="width:250px; padding-right: 10px;padding-left: 10px;">Rekomendasi</td>
					<td class="uk-text-top" style="width:70px; padding-right: 10px;padding-left: 10px;">Kode</td>
					<td class="uk-text-top" style="width:400px; padding-right: 20px;padding-left: 20px;">Ringkasan Tindak Lanjut</td>
					<td class="uk-text-top" style="width:80px; padding-right: 20px;padding-left: 20px;">Status Tindak Lanjut</td>
					<td class="uk-text-top" style="width:230px; padding-right: 10px;padding-left: 10px;" [ngClass]="(isResponseTL === true)?'isResponseTL' : 'notResponseTL'" >Tindak lanjut</td>
					<td class="uk-text-top" style="width:250px; padding-right: 10px;padding-left: 10px;" *ngIf="isResponseTL" [ngClass]="(isResponseTL === true)?'isResponseTL' : 'notResponseTL'">Respon Tindak lanjut</td>
					<!-- <td class="uk-text-top" style="width:80px">Aksi</td> -->
				</tr>


				<!-- ====================== INPUT AREA ===================== -->
				<tr [hidden]=!showFormTemuan>

					<td class="uk-text-center"> <!-- Nomor Header -->
           <!-- <a uk-icon="icon: plus"  *ngIf="modelIsiDokumen.nomorHeader == ''" uk-tooltip="Nomor Tinjauan" class="mt-2 mb-2"  (click)="modalLightInput('Nomor Tinjauan','nomorHeader')"></a> -->
            <div *ngIf="modelIsiDokumen.nomorHeader != ''">
              {{modelIsiDokumen.nomorHeader}} <br>
              <!-- <a *ngIf="!isResponseTL" (click)="modalLightInput('Nomor Tinjauan','nomorHeader')" uk-icon="icon: pencil"></a> -->
            </div>
					</td>
					
					<td colspan="7" class="pr-2 pl-2" *ngIf="!isResponseTL"> <!-- Title Header -->
            <!-- <a uk-icon="icon: plus"  *ngIf="modelIsiDokumen.titleHeader == ''" uk-tooltip="Judul Tinjauan" class="mt-2 mb-2"  (click)="modalLightInput('Judul Tinjauan','titleHeader')"></a> -->
            <div *ngIf="modelIsiDokumen.titleHeader != ''">
              {{modelIsiDokumen.titleHeader}} <br>
              <!-- <a *ngIf="!isResponseTL" (click)="modalLightInput('Judul Tinjauan','titleHeader')" uk-icon="icon: pencil"></a> -->
            </div>          
          </td>

          <td colspan="8" class="pr-2 pl-2" *ngIf="isResponseTL"> <!-- Title Header -->
            <!-- <a uk-icon="icon: plus"  *ngIf="modelIsiDokumen.titleHeader == ''" uk-tooltip="Judul Tinjauan" class="mt-2 mb-2"  (click)="modalLightInput('Judul Tinjauan','titleHeader')"></a> -->
            <div *ngIf="modelIsiDokumen.titleHeader != ''">
              {{modelIsiDokumen.titleHeader}} <br>
              <!-- <a *ngIf="!isResponseTL" (click)="modalLightInput('Judul Tinjauan','titleHeader')" uk-icon="icon: pencil"></a> -->
            </div>          
          </td>
        
				</tr>


				<tr>
					<td class="uk-text-center uk-text-top"> <!--Nomor Dokumen Temuan -->
            <!-- <a uk-icon="icon: plus"  *ngIf="modelIsiDokumen.noUraianTemuan == ''" uk-tooltip="Nomor Dokumen Temuan" class="mt-2 mb-2"  (click)="modalLightInput('Nomor Uraian Temuan','noUraianTemuan')"></a> -->
            <div *ngIf="modelIsiDokumen.noUraianTemuan != ''">
            {{modelIsiDokumen.noUraianTemuan}} <br>
            <!-- <a (click)="modalLightInput('Nomor Uraian Temuan','noUraianTemuan')" uk-icon="icon: pencil"></a> -->
            </div>
					</td>
					
					<td class="pr-2 pl-2 uk-text-top ">  <!-- Uraian Temuan -->
            <!-- <a uk-icon="icon: plus" *ngIf="modelIsiDokumen.uraianTemuan == ''" uk-tooltip="Uraian Temuan" class="mt-2 mb-2"  (click)="modalLightInput('Uraian Temuan','uraianTemuan')" ></a> -->
            <div *ngIf="modelIsiDokumen.uraianTemuan != ''" class="escapeHTML">
            <div [innerHTML]="modelIsiDokumen.uraianTemuan | keepHtml"></div> <br>
            <!-- <a (click)="modalLightInput('Uraian Temuan','uraianTemuan')" uk-icon="icon: pencil"></a> -->
            </div>
					</td> 
					
					<td class="uk-text-center uk-text-top" > <!-- Kode Rekomendasi -->
            <!-- <a uk-icon="icon: plus"  *ngIf="modelIsiDokumen.kodeRekomendasi == ''" uk-tooltip="Kode Rekomendasi" class="mt-2 mb-2"  (click)="modalLightInput('Kode Rekomendasi','kodeRekomendasi')"></a> -->
            <div *ngIf="modelIsiDokumen.kodeRekomendasi != ''">
            {{modelIsiDokumen.kodeRekomendasi}} <br>
            <!-- <a (click)="modalLightInput('Kode Rekomendasi','kodeRekomendasi')" uk-icon="icon: pencil"></a> -->
            </div>
					</td>
					
					<td class="pr-2 pl-2 uk-text-top "> <!-- Rekomendasi -->
            <!-- <a uk-icon="icon: plus" *ngIf="modelIsiDokumen.rekomendasi == ''" uk-tooltip="Rekomendasi" class="mt-2 mb-2" (click)="modalLightInput('Rekomendasi','rekomendasi')"></a> -->
            <div *ngIf="modelIsiDokumen.rekomendasi != ''" class="escapeHTML">
            <div [innerHTML]="modelIsiDokumen.rekomendasi | keepHtml"></div> <br>
            <!-- <a (click)="modalLightInput('Rekomendasi','rekomendasi')" uk-icon="icon: pencil"></a> -->
            </div>
					</td>
					
					<td class="uk-text-center uk-text-top"> <!-- Kode Ringkasan Tindak Lanjut -->
						<!-- <a uk-icon="icon: plus" *ngIf="modelIsiDokumen.kodeRingkasanTindakLanjut == ''" uk-tooltip="Kode Ringkasan Tindak Lanjut" class="mt-2 mb-2"  (click)="modalLightInput('Kode Ringkasan Tindak Lanjut','kodeRingkasanTindakLanjut')"></a> -->
						<div *ngIf="modelIsiDokumen.kodeRingkasanTindakLanjut != ''">
            {{modelIsiDokumen.kodeRingkasanTindakLanjut}} <br>
            <!-- <a (click)="modalLightInput('Kode Ringkasan Tindak Lanjut','kodeRingkasanTindakLanjut')" uk-icon="icon: pencil"></a> -->
            </div>
					</td>

					<td class=" pr-2 pl-2 uk-text-top">  <!-- Ringkasan Tindak Lanjut -->
						<!-- <a uk-icon="icon: plus" *ngIf="modelIsiDokumen.ringkasanTindakLanjut == ''" uk-tooltip="Ringkasan Tindak Lanjut" class="mt-2 mb-2" (click)="modalLightInput('Ringkasan Tindak Lanjut','ringkasanTindakLanjut')"></a> -->
						<div *ngIf="modelIsiDokumen.ringkasanTindakLanjut != ''" class="escapeHTML">
							<div [innerHTML]="modelIsiDokumen.ringkasanTindakLanjut | keepHtml"></div> <br>
							<!-- <a (click)="modalLightInput('Ringkasan Tindak Lanjut','ringkasanTindakLanjut')" uk-icon="icon: pencil"></a> -->
						</div>
					</td>
					
					<td class="uk-text-center uk-text-top pr-2 pl-2" > <!-- Status Tindak Lanjut -->
            <!-- <a uk-icon="icon: plus" *ngIf="modelIsiDokumen.statusTindakLanjut == ''" uk-tooltip="Status Tindak Lanjut" class="mt-2 mb-2" (click)="modalLightInput('Status Tindak Lanjut','statusTindakLanjut')"></a> -->
            <div *ngIf="modelIsiDokumen.statusTindakLanjut != ''">
            {{modelIsiDokumen.statusTindakLanjut}} <br>
            <!-- <a (click)="modalLightInput('Status Tindak Lanjut','statusTindakLanjut')" uk-icon="icon: pencil"></a> -->
            </div>
					</td>

					<td class=" pr-2 pl-2 uk-text-top" [ngClass]="(isResponseTL === true)?'isResponseTL' : 'notResponseTL'"> <!-- Tindak Lanjut -->
						<a uk-icon="icon: plus" *ngIf="modelIsiDokumen.tindakLanjut == ''" [hidden]="windowMode=='create'" uk-tooltip="Tindak Lanjut" class="mt-2 mb-2" (click)="modalLightInput('Tindak Lanjut','tindakLanjut')"></a>
						<div *ngIf="modelIsiDokumen.tindakLanjut != ''" class="escapeHTML">
							<div [innerHTML]="modelIsiDokumen.tindakLanjut | keepHtml"></div> <br>
              <a  [hidden]="windowMode=='create'" (click)="modalLightInput('Tindak Lanjut','tindakLanjut')" uk-icon="icon: pencil"></a>
              
              <span *ngIf="isResponseTL">
                <hr>
                <a (click)="downloadDokumenTindakLanjut(modelIsiDokumen.dokumenTindakLanjut)" class="text-primary"><u>Download Dokumen Tindak Lanjut</u></a>
              </span>

						</div>
          </td>
          
          <td class=" pr-2 pl-2 uk-text-top" *ngIf="modelIsiDokumen.responTindakLanjut != null" style="background-color: yellow;"> <!-- Respon Tindak Lanjut -->
						<!-- <a uk-icon="icon: plus" *ngIf="modelIsiDokumen.responTindakLanjut == ''" uk-tooltip="Respon Tindak Lanjut" class="mt-2 mb-2" (click)="modalLightInput('Respon Tindak Lanjut','responTindakLanjut')"></a> -->
						<div *ngIf="modelIsiDokumen.responTindakLanjut != ''" class="escapeHTML">
							<div [innerHTML]="modelIsiDokumen.responTindakLanjut | keepHtml"></div> <br>
							<!-- <a  (click)="modalLightInput('Respon Tindak Lanjut','responTindakLanjut')" uk-icon="icon: pencil"></a> -->
						</div>
					</td>


					<!-- <td class="uk-text-center uk-text-top">
						<a uk-icon="icon: close"class="mt-2 mb-2" uk-tooltip="Batal Tambah Data"  (click)="batalTemuan()" *ngIf="showBtnCancelTemuan"></a> 
					</td> -->
	
				</tr>
				<!-- ====================== INPUT AREA ===================== -->

			</table>

			

			<p class="uk-text-right uk-margin-medium-top" >
				<button class="uk-button uk-button-default uk-modal-close" (click)="batalTemuan()" *ngIf="showBtnCancelTemuan">Batal</button> &nbsp;
				<span *ngIf="showBtnSaveTemuan">
          <button class="uk-button uk-button-primary uk-modal-close" 
            [disabled]="modelIsiDokumen.tindakLanjut == '' || modelIsiDokumen.tindakLanjut == null ||namafile == '' ||namafile == undefined " 
            (click)="saveTemuan(flagEdit)" >Simpan Temuan
          </button>
        </span>
			</p>


			

			


			
			
		</div>
	</div>
</div>
<!-- modal-tambah-temuan -->






<style>

    /* ======================= TABLE DOCUMENT ==================== */
    .tableDocument{
      border-spacing: -1px; 
      table-layout: fixed; 
    }

    .tableDocument #tableHeader td{
      word-break: normal !important; 
    }

    .tableDocument th { 
      border: 0.1px solid black; 
    } 

    .tableDocument td { 
      border-right: 0.1px solid black; 
      border-bottom: 0.1px solid black; 
        /* word-break: break-all;  */
    } 
    /* ======================= TABLE DOCUMENT ==================== */




    .previewHeader{
        font-weight: bold;
    }

    .kertasa4{
        padding-top: 40px;
        padding-right: 15px;
        padding-left: 15px;
        /* border:1px solid black; */
        width: 900px;
        min-height: 595.28px;
        margin: auto;
    }
    
    .kertasa4 .previewHeader{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 14px;
        font-weight: bold;
    }

    .kertasa4 .previewSubheader{
        font-size: 12px;
    }

    /* ==== FOR PRINT ======== */
    .previewHeader-forPrint{
        font-weight: bold;
    }

    .kertasa4-forPrint{
        padding-top: 20px;
        padding-right: 15px;
        padding-left: 15px;
        /* border:1px solid black; */
        width: 855px;
        min-height: 595.28px;
        margin: auto;
    }
    
    .kertasa4-forPrint .previewHeader-forPrint{
        padding-left: 10%;
        padding-right: 10%;
        font-size: 14px;
        font-weight: bold;
    }

    .kertasa4-forPrint .previewSubheader-forPrint{
        font-size: 12px;
    }

    .isResponseTL{
      background-color: yellow;
    }

    .notResponseTL{
      background-color: transparent;
    }
    
    /* ==== FOR PRINT ======== */

    /* ============================ PROGRESS BAR =========================== */
    .steps {
      list-style: none;
      margin: 0;
      padding: 0;
      display: table;
      table-layout: fixed;
      width: 100%;
      color: #929292;
      height: 4rem;
    }
    .steps > .step {
      position: relative;
      display: table-cell;
      text-align: center;
      font-size: 0.875rem;
      color: #6D6875;
    }
    .steps > .step:before {
      content: attr(data-step);
      display: block;
      margin: 0 auto;
      background: #ffffff;
      border: 2px solid #e6e6e6;
      color: #e6e6e6;
      width: 2rem;
      height: 2rem;
      text-align: center;
      margin-bottom: -4.2rem;
      line-height: 1.9rem;
      border-radius: 100%;
      position: relative;
      z-index: 1;
      font-weight: 700;
      font-size: 1rem;
    }
    .steps > .step:after {
      content: '';
      position: absolute;
      display: block;
      background: #e6e6e6;
      width: 100%;
      height: 0.125rem;
      top: 1rem;
      left: 50%;
    }
    .steps > .step:last-child:after {
      display: none;
    }
    .steps > .step.is-complete {
      color: #6D6875;
    }
    .steps > .step.is-complete:before {
      content: '\2713';
      color: #1f87f0;
      background: #fef0e2;
      border: 2px solid #1f87f0;
    }
    .steps > .step.is-complete:after {
      background: #1f87f0;
    }
    .steps > .step.is-active {
      font-size: 1.5rem;
    }
    .steps > .step.is-active:before {
      color: #FFF;
      border: 2px solid #1f87f0;
      background: #1f87f0;
      margin-bottom: -4.9rem;
    }


    .steps {
      margin-bottom: 3em;
    }
    /* ============================ PROGRESS BAR =========================== */



    /* ==================================ESCAPE HTML ============================ */
    .escapeHTML p br{margin-top: -50px !important;}
    /* ==================================ESCAPE HTML ============================ */




</style>


