<span uk-spinner="ratio: 1.5"  class="uk-flex-center" style="position: fixed;" *ngIf="isLoading" ></span>




<section [hidden]="windowMode != 'grid'" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
    <div class="uk-flex uk-flex-right@m uk-flex-right@l uk-text-middle uk-margin">
        <a href="#" uk-icon="icon: search" uk-toggle="target: #toggle-usage"  class="uk-button uk-button-default"></a> &nbsp;
        <a (click)="getDataTindakLanjut()" uk-icon="icon: refresh" class="uk-button uk-button-default"></a> &nbsp;
        <a  uk-icon="icon: plus" uk-toggle="target: #toggle-breadcrumb"  class="uk-button uk-button-primary text-light" [hidden]="windowMode != 'grid'" (click)="windowModeView('create')" >Create &nbsp;</a>
    </div> 
    
    
    
    
    <div class="card mb-4" id="toggle-usage">
        <div class="card-body">
            <div>
                <div  class="uk-margin-small row" >
    
                    <div class="col-md-6">
                        <label class="uk-form-label mt-2" for="form-stacked-text">No. Dokumen Tindak Lanjut</label>
                        <div class="uk-form-controls">
                            <input class="uk-input " type="text" [(ngModel)]="filterData.noDokumen" placeholder="Nomor Dokumen Tindak Lanjut">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="uk-form-label mt-2" for="form-stacked-text">Status Dokumen</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" [(ngModel)]="filterData.status">
                                <option value="Open">Open</option>
                                <option value="On-Progress">On-Progress</option>
                                <option value="Complete">Complete</option>
                            </select>                        
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <label class="uk-form-label mt-2" for="form-stacked-text">Tanggal Penyerahan ke PPK - Dari</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" type="date" placeholder="" [(ngModel)]="filterData.tglKePpkDari"  (change)="onDateChange(filterData.tglKePpkDari)">                        
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="uk-form-label mt-2" for="form-stacked-text">Tanggal Penyerahan ke PPK - Sampai</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" type="date" placeholder="" [(ngModel)]="filterData.tglKePpkSampai"  (change)="onDateChange(filterData.tglKePpkSampai)">                        
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="uk-form-label mt-2" for="form-stacked-text">KPA</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" [(ngModel)]="filterData.idKpa" (change)="onKpaChange(filterData.idKpa)">
                                <option *ngFor="let kpa of ListKPA" [ngValue]="kpa.id">{{kpa.namaKpa}}</option>
                                <!-- <option [ngValue]="1">Dummy 100</option>
                                <option [ngValue]="2">Dummy 200</option>
                                <option [ngValue]="3">Dummy 300</option> -->
                            </select>                        
                        </div>
                    </div>


                    <div class="col-md-6">
                        <label class="uk-form-label mt-2" for="form-stacked-text">PPK</label>
                        <div class="uk-form-controls">
                            <select class="uk-select" [(ngModel)]="filterData.idPpk">
                                <option *ngFor="let ppk of ListPPK" [ngValue]="ppk.id" >{{ppk.namaPpk}}</option>
                                <!-- <option [ngValue]="1">Dummy PPK 100</option>
                                <option [ngValue]="2">Dummy PPK 200</option>
                                <option [ngValue]="3">Dummy PPK 300</option> -->
                            </select>                        
                        </div>
                    </div>

    
                    <div class="col-md-6"></div>
    
                    <div class="col-md-6 uk-flex uk-flex-right@m uk-flex-right@l uk-margin">
                        <button class="uk-button uk-button-default" (click)="doReset()">Reset</button>  &nbsp;
                        <button class="uk-button uk-button-primary" uk-icon="icon: search" (click)="doSearch(filterData)">Search </button>
                    </div> 
    
                    
    
    
                </div>
    
                 
               
            </div>
        </div>
    </div>
    
    


    <div class="">
        <div class="card mt-5">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Dokumen Tindak Lanjut</h4>
            <p class="card-category">New employees on 15th September, 2016</p>
          </div>


          <div class="p-5">
            <dx-data-grid 
                id="gridContainer"
                [dataSource]="ListTindakLanjut"
                [showBorders]="true"
                [allowColumnReordering]="true"
                [columnAutoWidth]="true"
                [allowColumnResizing]="true"
                >    

                <dxo-export [enabled]="true" fileName="Orders"></dxo-export>
                <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>    
                <dxo-load-panel [enabled]="true"> </dxo-load-panel>
                <dxo-selection mode="multiple" selectAllMode="page">   <!-- or "allPages" --> </dxo-selection>
                <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"> </dxo-pager>
                
                <dxi-column dataField="noDokumen" caption="No. Dokumen" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="namaDokumen" caption="Nama Dokumen" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="tglDariBpk" caption="Tgl Dokumen Masuk" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="tglKePpk" caption="Tgl Dokumen Keluar" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="namaKpa" caption="KPA" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="namaPpk" caption="PPK" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="nama" caption="User" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="status" caption="Status" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="fileDokumen" caption="Dokumen" [allowSearch]="true" cellTemplate="downloadTemplate"></dxi-column>
                <dxi-column dataField="id" caption="Action" alignment="center" [width]="100" cellTemplate="actionTemplate"></dxi-column>
                    <div *dxTemplate="let cell of 'actionTemplate'">

                        <div class="uk-flex uk-flex-center@m uk-flex-center@l uk-text-middle">
                            <a href="#modal-delete-tindaklanjut" (click)="modalDelete(cell);" uk-toggle uk-icon="icon: close" ></a> &nbsp;
                            <a (click)="onEditClick(cell);" uk-icon="icon: pencil"></a> &nbsp;  
                        </div> 
                            
                    </div>

                    <div *dxTemplate="let cell of 'downloadTemplate'">

                        <div class="uk-flex uk-flex-center@m uk-flex-center@l uk-text-middle">
                            <a (click)="onDownloadClick(cell.data);" class="uk-link-text uk-text-primary">Download</a> &nbsp;                            
                        </div> 
                        
                    </div>



            </dx-data-grid>
          </div>
          

          
        </div>
      </div>


</section >

<section [hidden]="windowMode == 'grid'" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">

    <form class="uk-form-horizontal uk-margin-large" [formGroup]="tindakLanjutForm" (ngSubmit)="onSubmit()" >

        <div class="uk-flex uk-flex-right@m uk-flex-right@l uk-text-middle uk-margin">
            <a class="uk-button uk-button-default" (click)="windowModeView('grid')">Back</a> &nbsp;
            <button type="submit"  class="uk-button uk-button-primary">
                <span *ngIf="windowMode=='create'">Save</span>
                <span *ngIf="windowMode=='edit'">Update</span>
            </button>
        </div>  

        

   
                


        <div class="card">
            <div class="card-body m-5">
 
                <!--<div class="form-group row">
                    <label for="inputEmail3" class="col-md-2 col-lg-6 col-form-label">No. Dokumen Tindak Lanjut</label>
                    <div class="col-md-10 col-lg-5" >
                    <input type="email" class="uk-input"  [(ngModel)]="modelTindakLanjut.noDokumen">
                    </div>
                </div> -->

                <div class="uk-margin ">
                    <label class="uk-form-label" for="form-horizontal-text">No. Dokumen Tindak Lanjut</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" placeholder="Masukan Nama..." formControlName="noDokumen" [ngClass]="{ 'uk-form-danger': submitted && f.noDokumen.errors }">
                        <div *ngIf="submitted && f.noDokumen.errors" class="uk-text-danger uk-text-italic">
                            <div *ngIf="f.noDokumen.errors.required">No. Dokumen wajib diisi</div>
                        </div>
                    </div>
                </div>



                <!-- <div class="form-group row">
                    <label for="inputEmail3" class="col-md-2 col-lg-6 col-form-label">Nama Dokumen Tindak Lanjut</label>
                    <div class="col-md-10 col-lg-5" >
                    <input type="text" class="uk-input"  [(ngModel)]="modelTindakLanjut.namaDokumen">
                    </div>
                </div> -->

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Nama Dokumen Tindak Lanjut</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" placeholder="Masukan Nama..." formControlName="namaDokumen" [ngClass]="{ 'uk-form-danger': submitted && f.namaDokumen.errors }">
                        <div *ngIf="submitted && f.namaDokumen.errors" class="uk-text-danger uk-text-italic">
                            <div *ngIf="f.namaDokumen.errors.required">Nama Dokumen wajib diisi</div>
                        </div>
                    </div>
                </div>
            
                <!-- <div class="form-group row">
                    <label for="inputPassword3" class="col-md-2 col-lg-6 col-form-label">Tgl. Dokumen Tindak Lanjut Dari BPK</label>
                    <div class="col-md-10 col-lg-5" >
                        <input type="date" [(ngModel)]="modelTindakLanjut.tglDariBpk" (change)="onDateChange(modelTindakLanjut.tglDariBpk)" class="uk-input">
                    </div> 
                </div> -->

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Tgl. Dokumen Tindak Lanjut Dari BPK</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="date" placeholder="Masukan Nama..." formControlName="tglDariBpk" [(ngModel)]="modelTindakLanjut.tglDariBpk"
                                [ngClass]="{ 'uk-form-danger': submitted && f.tglDariBpk.errors }" (change)="onDateChange(modelTindakLanjut.tglDariBpk)">
                        <div *ngIf="submitted && f.tglDariBpk.errors" class="uk-text-danger uk-text-italic">
                            <div *ngIf="f.tglDariBpk.errors.required">Tgl. Dokumen Tindak Lanjut Dari BPK wajib diisi</div>
                        </div>
                    </div>
                </div>



                <!-- <div class="form-group row">
                    <label for="inputPassword3" class="col-md-2 col-lg-6 col-form-label">Tgl. Dokumen Tindak Lanjut Ke PPK</label>
                    <div class="col-md-10 col-lg-5" >
                        <input type="date" [(ngModel)]="modelTindakLanjut.tglKePpk" (change)="onDateChange(modelTindakLanjut.tglKePpk)" class="uk-input">
                    </div>
                </div> -->

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Tgl. Dokumen Tindak Lanjut Ke PPK</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="date" placeholder="Masukan Nama..." formControlName="tglKePpk"   [(ngModel)]="modelTindakLanjut.tglKePpk"
                                [ngClass]="{ 'uk-form-danger': submitted && f.tglKePpk.errors }" (change)="onDateChange(modelTindakLanjut.tglKePpk)">
                        <div *ngIf="submitted && f.tglKePpk.errors" class="uk-text-danger uk-text-italic">
                            <div *ngIf="f.tglKePpk.errors.required">Tgl. Dokumen Tindak Lanjut Ke PPK wajib diisi</div>
                        </div>
                    </div>
                </div>


                <!-- <div class="form-group row">
                    <label for="inputPassword3" class="col-md-2 col-lg-6 col-form-label">KPA</label>
                    <div class="col-md-10 col-lg-5">
                        <select class="uk-select" [(ngModel)]="modelTindakLanjut.idKpa" (change)="onKpaChange(modelTindakLanjut.idKpa)">
                            <option *ngFor="let kpa of ListKPA" [ngValue]="kpa.id" >{{kpa.namaKpa}}</option>
                        </select>
                    </div>
                </div> -->

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">KPA</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" [(ngModel)]="modelTindakLanjut.idKpa"  formControlName="idKpa" (change)="onKpaChange(modelTindakLanjut.idKpa)" [ngClass]="{ 'uk-form-danger': submitted && f.idKpa.errors }">
                            <option *ngFor="let kpa of ListKPA" [ngValue]="kpa.id">{{kpa.namaKpa}}</option>
                            <option [ngValue]="1">Dummy 100</option>
                            <option [ngValue]="2">Dummy 200</option>
                            <option [ngValue]="3">Dummy 300</option>
                        </select>
            
                        <div *ngIf="submitted && f.idKpa.errors" class="uk-text-danger uk-text-italic">
                            <div *ngIf="f.idKpa.errors.required">KPA wajib diisi</div>
                        </div>
            
                    </div>
                </div>
            

                <!-- <div class="form-group row">
                    <label for="inputPassword3" class="col-md-2 col-lg-6 col-form-label">PPK</label>
                    <div class="col-md-10 col-lg-5">
                        <select class="uk-select" [(ngModel)]="modelTindakLanjut.idPpk">
                            <option *ngFor="let ppk of ListPPK" [ngValue]="ppk.id" >{{ppk.namaPpk}}</option>
                        </select>
                    </div>
                </div> -->


                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">PPK</label>
                    <div class="uk-form-controls">
                        <select class="uk-select" id="form-horizontal-select" formControlName="idPpk" [ngClass]="{ 'uk-form-danger': submitted && f.idPpk.errors }">
                            <option *ngFor="let ppk of ListPPK" [ngValue]="ppk.id" >{{ppk.namaPpk}}</option>
                            <option [ngValue]="1">Dummy PPK 100</option>
                            <option [ngValue]="2">Dummy PPK 200</option>
                            <option [ngValue]="3">Dummy PPK 300</option>
                        </select>
            
                        <div *ngIf="submitted && f.idPpk.errors" class="uk-text-danger uk-text-italic">
                            <div *ngIf="f.idPpk.errors.required">PPK wajib diisi</div>
                        </div>
            
                    </div>
                </div>

                
                <!-- <div class="form-group row">
                    <label for="inputPassword3" class="col-md-2 col-lg-6 col-form-label">File Dokumen</label>
                    <div class="col-md-10 col-lg-5">
                        <label for="myfile">Select a file:</label>
                        <input type="file" id="myfile" name="myfile" (change)="handleFileInput($event.target.files)">
                    </div>
                </div> -->


                <div class="uk-margin" *ngIf="windowMode == 'create'">
                    
                    <label class="uk-form-label" for="form-horizontal-text">File Dokumen</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="File" (change)="handleFileInput($event.target.files)" placeholder="Masukan Username..." formControlName="fileDokumen" [ngClass]="{ 'uk-form-danger': submitted && f.fileDokumen.errors }">
                        <div *ngIf="submitted && f.fileDokumen.errors" class="uk-text-danger uk-text-italic">
                            <div *ngIf="f.fileDokumen.errors.required">File Dokumen wajib diisi</div>
                        </div>
                    </div>
                </div>


                <div class="uk-margin" *ngIf="windowMode != 'create' && !isShowFormUpload">
                    <label class="uk-form-label" for="form-horizontal-text">Download Dokumen</label>
                    <div class="uk-form-controls">

                        <div class="uk-inline" style="min-width: 100%;">
                            <button class="uk-button uk-button-default uk-width-1-1" type="button" >{{namafile}}</button>
                            <div uk-dropdown>
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a  (click)="onDownloadClick(modelTindakLanjut)">Download File</a></li>
                                    <li><a (click)="toggleUploadFile(1)" >Upload File Baru</a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="uk-margin" *ngIf="isShowFormUpload">
                    <label class="uk-form-label" for="form-horizontal-text">File Dokumen</label>
                    <div class="uk-form-controls">
                        <div class="uk-inline">
                            <a class="uk-form-icon uk-form-icon-flip" (click)="toggleUploadFile(0)" uk-icon="icon: close"></a>
                            <input class="uk-input" type="File" (change)="handleFileInput($event.target.files)" placeholder="Masukan Username..." formControlName="fileDokumen" [ngClass]="{ 'uk-form-danger': submitted && f.fileDokumen.errors }">
                        </div>


                        <div *ngIf="submitted && f.fileDokumen.errors" class="uk-text-danger uk-text-italic">
                            <div *ngIf="f.fileDokumen.errors.required">File Dokumen wajib diisi</div>
                        </div>
                    </div>
                </div>





                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Catatan</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea" type="text" rows="5" placeholder="Masukan Catatan..." formControlName="catatan"></textarea>
                        
                    </div>
                </div>



            </div>
        </div>



                        

                       

                      
   


    </form>
        



</section>



<!-- modal-delete-tindaklanjut -->
<div id="modal-delete-tindaklanjut" class="uk-flex-top" uk-modal>    
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
        <h2 class="uk-modal-title">Hapus data?</h2>
        <p>Apakah anda yakin ingin menghapus data  <span style="font-weight: bold;">{{deleteDataTindakLanjut}}</span> </p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" id="btnHapus" type="button">Batal</button> &nbsp;
            <button class="uk-button uk-button-primary" (click)="doDelete()"type="button">Hapus</button>
        </p>
    </div>
</div>
<!-- modal-delete-tindaklanjut -->
