

<section [hidden]="windowMode != 'grid'" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">
    <div class="uk-flex uk-flex-right@m uk-flex-right@l uk-text-middle uk-margin">
        <a href="#" uk-icon="icon: search" uk-toggle="target: #toggle-usage"  class="uk-button uk-button-default"></a> &nbsp;
        <a (click)="getDataKPA()" uk-icon="icon: refresh" class="uk-button uk-button-default"></a> &nbsp;
        <a  uk-icon="icon: plus" uk-toggle="target: #toggle-breadcrumb"  class="uk-button uk-button-primary text-light" [hidden]="windowMode != 'grid'" (click)="windowModeView('create')" >Create &nbsp;</a>
    </div> 
    
    
    
    
    <div class="card mb-4" id="toggle-usage">
        <div class="card-body">
            <div>
                <div  class="uk-margin-small row" >
    
                    <div class="col-md-6">
                        <label class="uk-form-label mt-2" for="form-stacked-text">No Document</label>
                        <div class="uk-form-controls">
                            <input class="uk-input " id="form-stacked-text" type="text" placeholder="Some text...">
                        </div>
                    </div>
    
                    <div class="col-md-6">
                        <label class="uk-form-label mt-2" for="form-stacked-text">Status Document</label>
                        <div class="uk-form-controls">
                            <input class="uk-input " id="form-stacked-text" type="text" placeholder="Some text...">
                        </div>
                    </div>
    
                    <div class="col-md-6">  
                        <label class="uk-form-label mt-2" for="form-stacked-text">Date Start</label>
                        <div class="uk-form-controls">
                            <input class="uk-input " id="form-stacked-text" type="text" placeholder="Some text...">
                        </div>
                    </div>
    
    
                    <div class="col-md-6">
                        <label class="uk-form-label mt-2" for="form-stacked-text">Date End</label>
                        <div class="uk-form-controls">
                            <input class="uk-input " id="form-stacked-text" type="text" placeholder="Some text...">
                        </div>
                    </div>
    
                    <div class="col-md-6"></div>
    
                    <div class="col-md-6 uk-flex uk-flex-right@m uk-flex-right@l uk-margin">
                        <button class="uk-button uk-button-default" >Reset</button>  &nbsp;
                        <button class="uk-button uk-button-primary" uk-icon="icon: search">Search </button>
                    </div> 
    
                    
    
    
                </div>
    
                 
               
            </div>
        </div>
    </div>
    
    


    <div class="">
        <div class="card mt-5">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Master KPA</h4>
            <p class="card-category">New employees on 15th September, 2016</p>
          </div>


          <div class="p-5">
            <dx-data-grid 
                id="gridContainer"
                [dataSource]="ListKPA"
                [showBorders]="true"
                [allowColumnReordering]="true"
                [columnAutoWidth]="true"
                [allowColumnResizing]="true"
                >    

                <dxo-export [enabled]="true" fileName="Orders"></dxo-export>
                <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>    
                <dxo-load-panel [enabled]="true"> </dxo-load-panel>
                <dxo-selection mode="multiple" selectAllMode="page">   <!-- or "allPages" --> </dxo-selection>
                <!-- <dxo-filter-row [visible]="true"></dxo-filter-row> -->
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <dxo-paging [pageSize]="5"></dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]" [showInfo]="true"> </dxo-pager>
                
                <dxi-column dataField="namaKpa" caption="KPA" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="cabang" caption="Cabang" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="alamat" caption="Alamat" [allowSearch]="true"></dxi-column>
                <dxi-column dataField="id" caption="Action" alignment="center" [width]="100" cellTemplate="cellTemplate"></dxi-column>
                    <div *dxTemplate="let cell of 'cellTemplate'">
                        <div class="uk-flex uk-flex-center@m uk-flex-center@l uk-text-middle">
                            <a href="#modal-delete-kpa" (click)="modalDelete(cell);" uk-toggle uk-icon="icon: close" ></a> &nbsp;
                            <a (click)="onEditClick(cell);" uk-icon="icon: pencil"></a> &nbsp;
                        </div> 
                    </div>
            </dx-data-grid>
          </div>
          

          
        </div>
      </div>


</section >

<section [hidden]="windowMode == 'grid'" uk-scrollspy="cls: uk-animation-slide-right; repeat: false">

    <form class="uk-form-horizontal uk-margin-large" [formGroup]="form" (ngSubmit)="doSave(form.value)">
        <div class="uk-flex uk-flex-right@m uk-flex-right@l uk-text-middle uk-margin">
            <a class="uk-button uk-button-default" (click)="windowModeView('grid')">Back</a> &nbsp;
            <input type="submit" [disabled]="!form.valid" value="Save" *ngIf="windowMode=='create'"  class="uk-button uk-button-primary">
            <input type="submit" [disabled]="!form.valid" value="Update" *ngIf="windowMode=='edit'"  class="uk-button uk-button-primary">
        </div>  

        

        <div class="card">
            <div class="card-body m-5"> 
                

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Nama KPA</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" placeholder="Masukan Nama..." formControlName="namaKpa" [(ngModel)]="formKPA.namaKpa" [ngClass]="{ 'uk-form-danger': submitted && f.namaKpa.errors }">
                        <div *ngIf="submitted && f.namaKpa.errors" class="uk-text-danger uk-text-italic">
                            <div *ngIf="f.namaKpa.errors.required">Nama KPA wajib diisi</div>
                        </div>
                    </div>
                </div>

                <!-- <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Nama Cabang</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" type="text" placeholder="Masukan Nama..."  formControlName="cabang"  [(ngModel)]="formKPA.cabang" [ngClass]="{ 'uk-form-danger': submitted && f.cabang.errors }">
                        <div *ngIf="submitted && f.cabang.errors" class="uk-text-danger uk-text-italic">
                            <div *ngIf="f.cabang.errors.required">Nama Cabang wajib diisi</div>
                        </div>
                    </div>
                </div> -->

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">Cabang</label>
                    <div class="uk-form-controls">
                        <select class="uk-select"  formControlName="idCabang" [(ngModel)]="formKPA.idCabang" [ngClass]="{ 'uk-form-danger': submitted && f.idCabang.errors }">
                            <option *ngFor="let cabang of ListCabang" [ngValue]="cabang.id">{{cabang.cabang}}</option>
                            <option [ngValue]="1">Dummy Cabang 100</option>
                            <option [ngValue]="2">Dummy Cabang 200</option>
                            <option [ngValue]="3">Dummy Cabang 300</option>
                        </select>
            
                        <div *ngIf="submitted && f.idCabang.errors" class="uk-text-danger uk-text-italic">
                            <div *ngIf="f.idCabang.errors.required">Nama Cabang wajib diisi</div>
                        </div>
            
                    </div>
                </div>



                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Alamat</label>
                    <div class="uk-form-controls">
                        <textarea class="uk-textarea" type="text" placeholder="Masukan Alamat..."  rows="5" formControlName="alamat"  [(ngModel)]="formKPA.alamat" [ngClass]="{ 'uk-form-danger': submitted && f.alamat.errors }"></textarea>
                        <div *ngIf="submitted && f.alamat.errors" class="uk-text-danger uk-text-italic">
                            <div *ngIf="f.alamat.errors.required">Alamat wajib diisi</div>
                        </div>
                    </div>
                </div>


                    
              
            </div>
        </div>
    </form>

    <button (click)="testToast('success')"  class="uk-button uk-button-secondary">success</button>
    <button (click)="testToast('warning')"  class="uk-button uk-button-warning">warning</button>
    <button (click)="testToast('error')"  class="uk-button uk-button-danger">error</button>
    <button (click)="testToast('info')"  class="uk-button uk-button-primary">info</button>


</section>




<!-- modal-delete-kpa -->
<div id="modal-delete-kpa" class="uk-flex-top" uk-modal>    
    <div class="uk-modal-dialog uk-margin-auto-vertical uk-modal-body">
        <h2 class="uk-modal-title">Hapus data?</h2>
        <p>Apakah anda yakin ingin menghpus data  <span style="font-weight: bold;">{{deleteDataKpa}}</span> </p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button" id="btnHapus">Batal</button> &nbsp;
            <button class="uk-button uk-button-primary" (click)="doDelete()" type="button">Hapus</button>
        </p>
    </div>
</div>
<!-- modal-delete-kpa -->
